<div class="card">
    <h4 class="card-header">Reset Password</h4>
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="mb-3">
                <lib-input
                appearance="outline"
                label="Password"
                [formField]="resetPasswordForm.get('password')!"
                formControlName="password"
                fieldType="password"
                >
                </lib-input>
              </div>
              <div class="mb-3">
                <lib-input
                appearance="outline"
                label="Confirm password"
                [formField]="resetPasswordForm.get('confirmPassword')!"
                formControlName="confirmPassword"
                fieldType="password"
                >
                </lib-input>
              </div>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
  </div>
  