.mat-mdc-form-field  .mat-mdc-form-field-error-wrapper {
    padding: 0;
}
.full-width {
    width: 100%;
    .mat-mdc-form-field-icon-suffix button {
        border: none;
        background: none;
    }
}

  