<mat-card class="p-0 m-0">
  <mat-card-content class="p-0 m-0">
    <div class="card border-0">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
      <div class="mb-3">
        <lib-input
        appearance="outline"
        label="First name"
        [formField]="registerForm.get('firstName')!"
        formControlName="firstName"
        fieldType="text">
        </lib-input>
       </div>   
       <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Last name"
        [formField]="registerForm.get('lastName')!"
        formControlName="lastName"
        fieldType="text">
        </lib-input>
       </div>  
       <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Email"
        [formField]="registerForm.get('email')!"
        formControlName="email"
        fieldType="email"
        
        >
        </lib-input>
       </div>
       <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Phone number"
        [formField]="registerForm.get('phoneNumber')!"
        formControlName="phoneNumber"
        fieldType="tel"
        
        >
        </lib-input>
       </div>
       <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Address"
        [formField]="registerForm.get('address')!"
        formControlName="address"
        fieldType="tel"
        inputBox="textarea"
        >
        </lib-input>
       </div>
       <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Password"
        [formField]="registerForm.get('password')!"
        formControlName="password"
        fieldType="password"
        >
        </lib-input>
      </div>
      <div class="mb-3">
        <lib-input
        appearance="outline"
        label="Confirm password"
        [formField]="registerForm.get('confirmPassword')!"
        formControlName="confirmPassword"
        fieldType="password"
        >
        </lib-input>
      </div>
         
          <div class="mb-3 row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Register</button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>

            </div>
          </div>
        </form>
    </div>
</div>
  </mat-card-content>
</mat-card>