<mat-card class="p-0 m-0">
    <mat-card-content class="p-0 m-0">
      <div class="card border-0">
        <h4 class="card-header">Forgot Password</h4>
        <div class="card-body">
            <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
                <div class="mb-3">
                 <lib-input
                 appearance="outline"
                 label="Email"
                 [formField]="forgotPasswordForm.get('email')!"
                 formControlName="email"
                 fieldType="email"
                 
                 >
                 </lib-input>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Submit
                    </button>
                    <a routerLink="../login" class="btn btn-link">Cancel</a>
                </div>
        </form>
    </div>
  </div>
    </mat-card-content>
</mat-card>
  